*.class
**/*.iml
**/*.class
**/classes/*
**/gen
**/build/**
/*.iml
/*.ipr
/*.iws
/.classpath
/.idea
/.metadata
/.project
/.settings
/bin
/gen
/.gradle
lf-android-app/build
lf-android-app/*.iml
lf-android-app/*.ipr
lf-android-app/*.iws
lf-android-app/.classpath
lf-android-app/.metadata
lf-android-app/.project
lf-android-app/.settings
lf-android-app/bin
lf-android-app/gen
lf-android-app/local.properties
lf-android-app/out
lf-android-app/src/main/res/values/config.xml
lf-android-app/src/main/manifest/dev/gen
lf-android-app/target
lf-android-tests/*.iml
lf-android-tests/*.ipr
lf-android-tests/*.iws
lf-android-tests/.classpath
lf-android-tests/.metadata
lf-android-tests/.project
lf-android-tests/.settings
lf-android-tests/bin
lf-android-tests/gen
lf-android-tests/local.properties
lf-android-tests/out
lf-android-tests/target
lf-android-tests/gen-external-apklibs
lf-android-app/gen-external-apklibs
/local.properties
/out
/target
local.properties
*/jni/com_googlecode_tesseract_android/src/config/**
*/jni/com_googlecode_tesseract_android/src/m4/**
*/jni/com_googlecode_tesseract_android/src/tessdata/**
*/jni/com_googlecode_tesseract_android/src/vs2008/**
*/jni/com_googlecode_tesseract_android/src/vs2010/**
libraries/tess-two/obj
